<div class="Wrapper">
  <h2 style="margin-bottom: 0px">Last {{checkpoint_array_size}} checkpoints</h2>
  <div class="TitleDivider"></div>
  <table style="width:100%">
    <tr class="TableHeader">
      <td>Height</td>
      <td>Block hash</td>
      <td>Checkpoint Quorum</td>
    </tr>
    {{#checkpoint_array}}
    <tr>
      <td><a href="/block/{{checkpoint_height}}">{{checkpoint_height}}</a></td>
      <td><a href="/block/{{checkpoint_block_hash}}">{{checkpoint_block_hash}}</a></td>
      <td>
          <a href="/checkpoint_quorum/{{checkpoint_height}}">{{checkpoint_height}}</a>;
          {{checkpoint_signatures_size}}/20 signatures:
          {{#checkpoint_signed_by}}
          {{#voter_signed}}<span title="Signed by checkpoint quorum voter {{voter_index}}" class="checkpoint-signed"><strong>✓</strong></span>{{/voter_signed}}
          {{^voter_signed}}<span title="Missing signature from checkpoint quorum voter {{voter_index}}" class="checkpoint-not-signed">x</span>{{/voter_signed}}
          {{/checkpoint_signed_by}}
      </td>
    </tr>
    {{/checkpoint_array}}
  </table>
</div> <!-- Wrapper -->
