
{{#obligations_quorum_array}}
<div class="Wrapper">
  <h2 style="margin-bottom: 0px">Uptime quorum for height {{quorum_height}})</h2>
  <div class="TitleDivider"></div>
  <table style="width:100%">
    <tr class="TableHeader">
      <td>Public Key</td>
      <td>Last Uptime Proof</td>
      <td>Expiry Date UTC (Estimated)</td>
    </tr>
    <tr>
      <th colspan="3" class="subheader">Validators {{{quorum_validators_size}}}:</th>
    </tr>
    {{#quorum_validators}}
    <tr>
      <td class="quorum-pubkey"><span>{{quorum_index}}: <a href="/service_node/{{public_key}}">{{public_key}}</a></span></td>
      <td>{{last_uptime_proof}}</td>
      <td>{{expiration_date}} ({{expiration_time_relative}})</td>
    </tr>
    {{/quorum_validators}}
    {{#quorum_validators_more}}
    <tr>
      <td class="sn-more" colspan="3"><a href="/obligations_quorum/{{quorum_height}}">+ {{quorum_validators_more}} more ↪</a></td>
    </tr>
    {{/quorum_validators_more}}

    <tr>
      <th colspan="3" class="subheader">Nodes to test ({{quorum_workers_size}}):</th>
    </tr>

    {{#quorum_workers}}
    <tr>
      <td class="quorum-pubkey"><span>{{quorum_index}}: <a href="/service_node/{{public_key}}">{{public_key}}</a></span></td>
      <td>{{last_uptime_proof}}</td>
      <td>{{expiration_date}} ({{expiration_time_relative}})</td>
    </tr>
    {{/quorum_workers}}
    {{#quorum_workers_more}}
    <tr>
      <td class="sn-more" colspan="2"><a href="/obligations_quorum/{{quorum_height}}">+ {{quorum_workers_more}} more ↪</a></td>
    </tr>
    {{/quorum_workers_more}}
  </table>
</div> <!-- Wrapper -->
{{/obligations_quorum_array}}

{{#checkpointing_quorum_array}}

<div class="Wrapper">
  <h2 style="margin-bottom: 0px">
    Checkpoint quorum for height {{quorum_height}}
    {{#quorum_block_height}} (determined by block <a href="/block/{{quorum_block_height}}">{{quorum_block_height}}</a>){{/quorum_block_height}}
  </h2>
  <div class="TitleDivider"></div>
  <table style="width:100%">
    <tr class="TableHeader">
      <td>Public Key</td>
      <td>Last Uptime Proof</td>
      <td>Expiry Date UTC (Estimated)</td>
    </tr>

    {{#quorum_validators}}
    <tr>
      <td class="quorum-pubkey"><span>{{quorum_index}}: <a href="/service_node/{{public_key}}">{{public_key}}</a></span></td>
      <td>{{last_uptime_proof}}</td>
      <td>{{expiration_date}} ({{expiration_time_relative}})</td>
    </tr>
    {{/quorum_validators}}

    {{#quorum_validators_more}}
    <tr>
      <td class="sn-more" colspan="3"><a href="/obligations_quorum/{{quorum_height}}">+ {{quorum_validators_more}} more ↪</a></td>
    </tr>
    {{/quorum_validators_more}}
   </table>
</div> <!-- Wrapper -->
{{/checkpointing_quorum_array}}
