<div>
  <div class="table-header line-break">
    Height: {{blk_height}} / Block hash: {{blk_hash}}
  </div>

  <div class="table-subheader" style="text-align:center;text-wrap:normal;margin:10px" >
    Four RandomARQ and corresponding assembly x86 programs has been used to calculate PoW hash of the block.
    The RandomARQ programs are executed over RandomARQ Virtual Machines. Values of the integer and floating point registers are also provided.
  </div>

  <div class="table-header" style="text-align:center">
    RandomARQ Source Code TXT Representation
  </div>

  {{#rx_codes}}
  <div class="table-subheader" style="text-align:center">
    Program #{{rx_code_idx}}
  </div>
  <div class="table-scroller">
  <table class="center" style="font-weight:650;text-align:center;margin:10px">
  {{#first_program}}
  <tr>
    <td colspan="2">
      Integer registers R:<br/>
      <br/>
      r0: 0x0000000000000000<br/>
      r1: 0x0000000000000000<br/>
      r2: 0x0000000000000000<br/>
      r3: 0x0000000000000000<br/>
      r4: 0x0000000000000000<br/>
      r5: 0x0000000000000000<br/>
      r6: 0x0000000000000000<br/>
      r7: 0x0000000000000000<br/>
      <br/>
      Floating point registers F {lo, hi}:<br/>
      <br/>
      Initial values not accessible<br/>
      <br/>
      Floating point registers E {lo, hi}:<br/>
      <br/>
      Initial values not accessible<br/>
      <br/>
      Floating point registers A {lo, hi}:<br/>
      <br/>
      a0: {{a0}}<br/>
      a1: {{a1}}<br/>
      a2: {{a2}}<br/>
      a3: {{a3}}<br/>
      <br/>
    </td>
  {{/first_program}}
  </tr>
  <tr>
    <td style="text-align:left">RandomARQ code</td>
    <td style="text-align:left">ASM x86</td>
  </tr>
  <tr>
    <td style="font-weight:90%;text-align:left;vertical-align:top;">
      <pre>{{rx_code}}</pre>
    </td>
    <td style="font-weight:90%;text-align:left;vertical-align:top;">
      <pre>{{rx_code_asm}}</pre>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      Integer registers R:<br/>
      <br/>
      r0: {{r0}}, r1: {{r1}}<br/>
      r2: {{r2}}, r3: {{r3}}<br/>
      r4: {{r4}}, r5: {{r5}}<br/>
      r6: {{r6}}, r7: {{r7}}<br/>
      <br/>
      Floating point registers F {lo, hi}:<br/>
      <br/>
      f0: {{f0}}<br/>
      f1: {{f1}}<br/>
      f2: {{f2}}<br/>
      f3: {{f3}}<br/>
      <br/>
      Floating point registers E {lo, hi}:<br/>
      <br/>
      e0: {{e0}}<br/>
      e1: {{e1}}<br/>
      e2: {{e2}}<br/>
      e3: {{e3}}<br/>
      <br/>
      Floating point registers A {lo, hi}:<br/>
      <br/>
      a0: {{a0}}<br/>
      a1: {{a1}}<br/>
      a2: {{a2}}<br/>
      a3: {{a3}}<br/>
      <br/><br/>
    </td>
  </tr>
  </table>
  {{/rx_codes}}
  </div>
</div>
