<div>

  <div class="buttons-container">
    {{#have_prev_hash}}
    <a href="/tx/{{prev_hash}}" class="pure-button pure-button-active" title="{{prev_hash}}">&larr; Previous tx</a>
    {{/have_prev_hash}}
    
    {{#have_next_hash}}
    <a href="/tx/{{next_hash}}" class="pure-button pure-button-active" title="{{next_hash}}">Next tx &rarr;</a>
    {{/have_next_hash}}
  </div>

  <div class="table-header">
    Transaction Details
  </div>

  <div class="table-scroller">

    <div class="monospace pure-g">

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_hash}}</span>
      </div>

      {{#enable_mixins_details}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx prefix hash</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_prefix_hash}}</span>
      </div>
      {{/enable_mixins_details}}

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx public key</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{tx_pub_key}}</span>
        <span id="add_tx_pub_keys" style="display: none;">{{add_tx_pub_keys}}</span>
      </div>

      {{#has_payment_id}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span id="payment_id">{{payment_id}}</span>
      </div>
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id as ascii</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{payment_id_as_ascii}}</span>
      </div>
      {{/has_payment_id}}
      
      {{#has_payment_id8}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Payment id (encrypted)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span id="payment_id">{{payment_id8}}</span>
      </div>
      {{/has_payment_id8}}

      {{^have_raw_tx}}
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Age [y:d:h:m:s]</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{delta_time}}</span>
      </div>

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Timestamp [UCT] (epoch)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{blk_timestamp}} ({{blk_timestamp_uint}})</span>
      </div>
      {{/have_raw_tx}}

      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Block</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        {{#is_mined}}
        <span><a href="/block/{{blk_height}}">{{blk_height}}</a> ({{confirmations}} confirmations)</span>
        {{/is_mined}}
        {{^is_mined}}
        <span>{{blk_height}} ({{confirmations}} confirmations)</span>
        {{/is_mined}}
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Fee (per_kB)</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_fee}} ({{payed_for_kB}})</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx size</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_size}} kB</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Tx version</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{tx_version}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>RingCT type</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5">
        <span>{{rct_type}}</span>
      </div>
      
      <div class="pure-u-1-4 pure-u-md-1-5">
        <span>Extra</span>
      </div>
      <div class="pure-u-3-4 pure-u-md-4-5 line-break">
        <span>{{extra}}</span>
      </div>
      
    </div>
  </div>

  <div class="table-header">
    Outputs
  </div>
  
  <div class="table-scroller">
    <div class="table-container">
      
      <div class="table-subheader">
        {{outputs_no}} output(s) for total of {{outputs_arq_sum}} ARQ
      </div>

      <table class="pure-table pure-table-striped">
	<thead>
	  <tr>
            <th>stealth address</th>
            <th style="width:140px">amount</th>
            <th style="width:160px">amount idx</th>
	  </tr>
	</thead>
	<tbody>
	  {{#outputs}}
	  <tr>
            <td>{{output_idx}}: {{out_pub_key}}</td>
            <td>{{amount}}</td>
            <td>{{amount_idx}} of {{num_outputs}}</td>
	  </tr>
	  {{/outputs}}
	</tbody>
      </table>
    </div>
  </div>

  {{^have_raw_tx}}
  <div class="tabs-scroller">
    <div class="tabs-container">

      <div class="tabs">

	<div class="tab">
          <input type="radio" id="tab-1" name="tab-group-1" checked>
          <label for="tab-1">Decode outputs</label>
          <div class="content">
            <p style="margin: 0px">
              Check which outputs belong to given ARQ address/subaddress and viewkey<br/>
              Note: address/subaddress and viewkey are sent to the server, as the calculations are done on the server side
            </p>
            <form action="/myoutputs" method="post" class="pure-form">
              <input type="hidden" name="tx_hash" value="{{tx_hash}}"/>
              <input type="text" name="arq_address" placeholder="ARQ address/subaddress" class="pure-input-1" />
              <input type="text" name="viewkey" placeholder="Private viewkey" class="pure-input-1" />
              <input type="hidden" name="raw_tx_data" value="{{raw_tx_data}}" />
              <!--above raw_tx_data field only used when checking raw tx data through tx pusher-->

              <input type="submit" value="Decode outputs" class="pure-button pure-button-active" />
            </form>
          </div>
	</div>

	<div class="tab">
          <input type="radio" id="tab-2" name="tab-group-1">
          <label for="tab-2">Prove sending</label>

          <div class="content">
            <p style="margin: 0px">
              Prove to someone that you have sent them ARQ in this transaction<br/>
              Tx private key can be obtained using <code>get_tx_key</code> command in <code>arqma-wallet-cli</code><br/>
              Note: address/subaddress and tx private key are sent to the server, as the calculations are done on the server side
            </p>
            <form action="/prove" method="post" class="pure-form">
              <input type="hidden" name="txhash" value="{{tx_hash}}" />
              <input type="text" name="txprvkey" placeholder="Tx private key" class="pure-input-1" />
              <input type="hidden" name="raw_tx_data" value="{{raw_tx_data}}" />
              <!--above raw_tx_data field only used when checking raw tx data through tx pusher-->
              <input type="text" name="arq_address" placeholder="Recipient's ARQ address/subaddress" class="pure-input-1" />

              <input type="submit" value="Prove sending" class="pure-button pure-button-active" />
            </form>
          </div>
	</div>
      </div>
    </div>
  </div>

  {{/have_raw_tx}}

  {{#has_inputs}}
  {{#enable_mixins_details}}
  <div class="table-header">
    Input ring size time scale
  </div>
  
  <div class="table-scroller">
    <div class="table-container">
      
      <div class="table-subheader">
        (from {{min_mix_time}} till {{max_mix_time}};
        resolution: {{timescales_scale}} days{{#have_raw_tx}}; R - real ring member {{/have_raw_tx}})
      </div>

      <ul class="margin" style="padding:0">
        {{#timescales}}
        <li  style="list-style-type:none;text-align:center;font-size:8px;margin-bottom:8px">|{{timescale}}|</li>
        {{/timescales}}
      </ul>
    </div>
  </div>
  {{/enable_mixins_details}}

  <div class="table-header">
  {{^inputs_arq_sum_not_zero}}
  {{inputs_no}} input(s) for total of {{inputs_arq_sum}} ARQ
  {{/inputs_arq_sum_not_zero}}
  {{#inputs_arq_sum_not_zero}}
  {{^have_any_unknown_amount}}
  {{inputs_no}} inputs(s) for total of {{inputs_arq_sum}} ARQ
  {{/have_any_unknown_amount}}
  {{#have_any_unknown_amount}}
  {{inputs_no}} inputs(s) for total of at least {{inputs_arq_sum}} ARQ
  {{/have_any_unknown_amount}}
  {{/inputs_arq_sum_not_zero}}
  </div>

  <div class="table-scroller">
    <div class="table-container multi-table-container">

      {{#inputs}}

      <div class="table-subheader">
        Key image  {{input_idx}}: {{in_key_img}}

        {{#have_raw_tx}}
        , Already spent:
        {{#already_spent}}
        <span style="color: red; font-weight: bold;">True</span>
        {{/already_spent}}
        {{^already_spent}}
        False
        {{/already_spent}}
        {{/have_raw_tx}}

        , Amount: {{amount}}
      </div>
      
      {{#enable_mixins_details}}
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th>ring members</th>
            {{#have_raw_tx}}
            <th style="width:60px">is real</th>
            {{/have_raw_tx}}
            <th style="width:80px">blk</th>
            <th style="width:40px">ring size</th>
            <th style="width:50px">in/out</th>
            <th style="width:150px">timestamp</th>
            <th style="width:130px">age [y:d:h:m:s]</th>
          </tr>
	</thead>
	<tbody>
          {{#mixins}}
          <tr>
            <td> - {{mix_idx}}: <a href="/tx/{{mix_tx_hash}}">{{mix_pub_key}}</a></td>
            {{#have_raw_tx}}
            {{#mix_is_it_real}}
            <td><span style="color: #008009;font-weight: bold">{{mix_is_it_real}}</span></td>
            {{/mix_is_it_real}}
            {{^mix_is_it_real}}
            <td>{{mix_is_it_real}}</td>
            {{/mix_is_it_real}}
            {{/have_raw_tx}}
            <td>{{mix_blk}}</td>
            <td>{{mix_mixin_no}}</td>
            <td>{{mix_inputs_no}}/{{mix_outputs_no}}</td>
            <td>{{mix_timestamp}}</td>
            <td>{{mix_age}}</td>
          </tr>
          {{/mixins}}
	</tbody>
      </table>
      {{/enable_mixins_details}}
      {{^enable_mixins_details}}
      <table class="pure-table pure-table-striped">
	<thead>
          <tr>
            <th>ring members</th>
            {{#have_raw_tx}}
            <th>Is it real?</th>
            {{/have_raw_tx}}
            <th>blk</th>
          </tr>
	</thead>
	<tbody>
          {{#mixins}}
          <tr>
            <td> - {{mix_idx}}: {{mix_pub_key}}</td>
            {{#have_raw_tx}}
            {{#mix_is_it_real}}
            <td><span style="color: #008009;font-weight: bold">{{mix_is_it_real}}</span></td>
            {{/mix_is_it_real}}
            {{^mix_is_it_real}}
            <td>{{mix_is_it_real}}</td>
            {{/mix_is_it_real}}
            {{/have_raw_tx}}
            <td>{{mix_blk}}</td>
          </tr>
          {{/mixins}}
	</tbody>
      </table>
      {{/enable_mixins_details}}

      {{/inputs}}
      
    </div>
  </div>
  
  {{/has_inputs}}

  {{#show_part_of_inputs}}
  <p>
    Only {{max_no_of_inputs_to_show}} inputs are shown. To see all,
    click more details.
  </p>
  {{/show_part_of_inputs}}
  
  {{^have_raw_tx}}
  
  {{^with_ring_signatures}}
  {{#show_more_details_link}}
  <div class="margin padding text-center">
    <a class="pure-button pure-button-active" href="/tx/{{tx_hash}}/1">More details</a>
  </div>
  {{/show_more_details_link}}
  {{/with_ring_signatures}}

  {{#with_ring_signatures}}
  <div id="decoded-inputs">
    <pre>
      <code>
        {{tx_json}}
      </code>
    </pre>
  </div>

  <div class="margin padding text-center">
    <a class="pure-button pure-button-active" href="/tx/{{tx_hash}}">Less details</a>
  </div>
  
  {{/with_ring_signatures}}
  
  {{/have_raw_tx}}

</div>
