{{#state_change_decommission}}<span title="Service Node decommission">👎</span>{{/state_change_decommission}}
{{#state_change_recommission}}<span title="Service Node recommission">👍</span>{{/state_change_recommission}}
{{#state_change_deregister}}<span title="Service Node deregistration">🚫</span>{{/state_change_deregister}}
{{#state_change_ip_change_penalty}}<span title="Service Node IP change penalty">📋</span>{{/state_change_ip_change_penalty}}
{{#have_unlock_info}}<span title="Service Node stake unlock — {{unlock_service_node_pubkey}}">🔓</span>{{/have_unlock_info}}
{{#have_register_info}}<span title="Service Node registration — {{register_service_node_pubkey}}">🏁</span>{{/have_register_info}}
{{#have_contribution_info}}<span title="Service Node contribution – {{contribution_service_node_pubkey}}">⚑</span>{{/have_contribution_info}}
