[Unit]
Description=Arqma BlockChain Explorer

Wants=network.target
After=arqmad.target syslog.target network-online.target

[Service]
User=arqma
Group=arqma
Type=simple
WorkingDirectory=/home/arqma/explorer-arqma/build
ExecStart=/home/arqma/explorer-arqma/build/arqblocks
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=arqblocks.service