body {
    margin: 0;
    padding: 0;
    font-size: 80%;
    background-color: #707070;
/*    background-image: linear-gradient(104deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%); */
    font-family: sans-serif;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: normal;
    margin-bottom: 0.2em;
}

.Subtitle {
    font-size: 1.0em;
    color: black;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.PageButton {
    background-color: #969696;
    min-height: 1.5em;
    padding: 5px;
    padding-top: 8px;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1em;
    color: black;
    border: none;
    font-family: sans-serif;
}

.PageButton:hover {
    background-color: #505050;
}

.Wrapper {
    width: 80%;
    margin: auto;
}

.Header {
    margin: 0;
}

.Header > a:link {
    text-decoration: none;
    color: #969696 ; !important
}

.Table {
    width: 100%;
}

.TableHeader {
    font-weight: bold;
    background-color: #969696;
}

.TitleDivider {
    height: 2px;
    width: 100%;
    background-color: #505050;
    margin-bottom: 1em;
}

.LinkNoUnderline {
    text-decoration: none;
}

.LinkNoUnderline:hover {
    color: #505050;
}

.center {
    margin: auto;
    width: 96%;
    /*border: 1px solid #73AD21;
    padding: 10px;*/
}

tr, li, #pages, .info {
    height: 2em;
    margin: auto;
}

#pages {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

td {
    text-align: center;
}

a:link, a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: #969696;
}

form {
    display: inline-block;
}

.style-1 input[type="text"] {
    padding: 2px;
    border: solid 1px #707070;
    background-color: #969696;
    height: 2em;
    width: 80%;
    font-size: 1em;
    color: black;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
}
h1, h2, h3, h4, h5, h6 { color: black; }

.tabs {
    position: relative;
    min-height: 240px;
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: #505050;
    padding: 10px;
    margin-right: 2px;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #707070;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #969696;
}

[type=radio]:checked ~ label {
    background: #707070 ;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    display: block;
}

div#decoded-inputs{
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}

.Table.metadata td {
    text-align: left;
}

.Table.metadata label {
    text-align: right;
    display: inline-block;
    width: 50%;
}

td.sn-more {
    font-style: italic;
    font-size: 125%;
}

p.state-change-pubkey {
    font-size: 120%;
}
th.voter-signature, td.voter-signature {
    max-width: 300px;
}
td.voter-signature {
    overflow: hidden;
    text-overflow: ellipsis;
}

td.quorum-pubkey span {
  display: inline-block;
  width: 80ex;
  text-align: left;
}

th.subheader {
  text-align: left;
  border-bottom: 2px solid #7070707;
}

td span.checkpoint-signed { color: #008522; }
td span.checkpoint-not-signed { color: #c50022; }

.omg {
    font-weight: bold;
}

.pending-mempool-stakes .tx {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 .sn-count {
  font-weight: bold;
}

.TXType {
  font-family: initial;
}
